.heelsMain {
    padding: 20px;
    margin-top: 50px;
  }
  
  .heelsHeader {
    text-align: center;
   
  }
  
  .heelsHeader h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: normal;
  }
  
  .heelsImages {
    display: flex;
    justify-content: center;
  }
  
  .heelsImages .heelsImage1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .heelsImages .heelsImage1 img {
    width: 20%;
   
    margin: 30px;
    transition: transform 0.3 ease-in-out;
  }
  .heelsImages .heelsImage1 img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
    cursor: pointer;
  }

  .heelsBottom {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: lighter; /* Adjust the font weight as needed */
  }
  
  .heelsBottom h5 {
    word-spacing: 7px;
   font-weight: normal;
    margin-bottom: 10px; /* Add margin below headings */
  }
  
  .heelsBottom p {
    overflow-wrap: break-word;
    margin-bottom: 20px; /* Add margin below paragraphs */
    line-height: 1.5; /* Set line height for paragraphs */
  }
  

 
 