.navbarMain {
  text-align: center;
  background-color: black;
  color: white;
}

.navbarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.navbarParagraph {
  margin: 0;
}

.transitioning {
  animation-play-state: paused;
}

.shopHere {
  margin-left: 10px; /* Adjust margin as needed */
  cursor: pointer;
  color: white; /* Adjust color as needed */
  text-decoration: underline;
}

