.manMani {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .topMain img {
    max-width: 100%;

    height: auto;
   ;
    margin-bottom: 50px;
  }
  
  .bottomMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Adjust margin and gap for images */
  .bottomMain img {
    max-width: calc(25% - 20px); /* 25% minus left and right margins */
    margin: 30px; /* Adjust margin as needed */
    height: auto;
    max-height: 380px;
  }


  .manBottom {
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: lighter; /* Adjust the font weight as needed */
  }
  
  .manBottom h5 {
    word-spacing: 7px;
   font-weight: normal;
    margin-bottom: 10px; /* Add margin below headings */
  }
  
  .manBottom p {
    overflow-wrap: break-word;
    margin-bottom: 20px; /* Add margin below paragraphs */
    line-height: 1.5; /* Set line height for paragraphs */
  }
  

 
  

  